*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
/* --------------|MENU|----------------- */
.MenuNav{
    display: inline-block;
    text-align: center;
    background-color: rgb(65, 137, 150);
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 60px;
    
}

.MenuNav ul li {
    display: inline-block;
    padding: 50px;
}

.MenuNav li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.MenuNav ul li a:hover{
    background-color: rgb(100, 180, 180);
    color: white;
    text-decoration: underline;
    border: thick double #2b8fb6;
}

/* ----------------|Exo-1|------------------ */
.borderCarre{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}
h2{
    text-align: center;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
    left: 230px; 
}

.boxColor div{
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 10s;
    
    
}

@keyframes changeColor {

    0%{
        background-color: yellow;
        transform: rotate(-180deg);
    }
    50%{
        background-color: orange;
        transform: rotate(180deg);
    }

    100%{
        background-color: red;
        transform: rotate(-360deg);
    }
}
/* ----------------|Exo-2|------------------ */
.borderBalle1{
    width: 300px;
    height: 700px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}
.borderBalle2{
    width: 70px;
    height: 500px;
    margin: 50px auto;
    border: green solid;
}

.balle{
    position:relative;
    left: 6px;
    background-color:yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid white;
    animation: balle ease infinite;
    animation-duration: 2.5s;
    
}

@keyframes balle{
    0%{
        transform: translateY(0px);
    }
    30%{
        
        transform: translateY(445px);
    }
    50%{
        
        transform: translateY(100px);
    }
    70%{
        
        transform: translateY(445px);
    }
    90%{
        
        transform: translateY(200px);
    }
    100%{
        
        transform: translateY(445px);
    }
}

/* ----------------|Exo-3|------------------ */
.boxChargement{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}

.cercle {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    left: 140px;

    animation-name: changeCollor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.1s;
}

@keyframes changeCollor {
    from{
        background-color: yellow;
    }
    to{
        background-color: white;
    }
    to{
        background-color: red;
    }
}

.cercle:nth-child(2){
    animation-delay: 3s;
}
.cercle:nth-child(3){
    animation-delay: 5s;
}

/* ----------------|Exo-4|------------------ */
.boxChargement{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}
.transform1{
    width: 100px;
    height: 30px;
    background-color: black;
    position: relative;
    left: 230px;
    top: 10px;
    text-align: center;
    color: white;
    list-style: none;      
}

.transform2{ 
    height: 30px;
    background-color:black;
    transition: 1s;
    
}

.transform2:hover{ 
    height: 400px; 
    background-color:black;   
}
/* ----------------|Exo-5|------------------ */