*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
/* --------------|MENU|----------------- */
.MenuNav{
    display: inline-block;
    text-align: center;
    background-color: rgb(65, 137, 150);
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 250px;
    border: 0.5rem solid #2b8fb6;
    
}

.MenuNav ul li {
    display: inline-block;
    padding: 2px;
    margin: 10px;
    border: ridge white;
}

.MenuNav li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight:bold;
    border: thick double transparent;
}

.MenuNav ul li a:hover{
    background-color: rgb(100, 180, 180);
    color: white;
    text-decoration: underline;
    border: thick double #2b8fb6;
}

h2{
    text-align: center;
}

/* ----------------|Exo-1|------------------ */
.borderCarre{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}

.box{
    width: 100px;
    height: 100px;
    border: 1mm ridge;
    position: relative;
    left: 230px; 
}

.boxColor div{
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 10s; 
}

@keyframes changeColor {

    0%{
        background-color: yellow;
        transform: rotate(-180deg);
    }
    50%{
        background-color: orange;
        transform: rotate(180deg);
    }

    100%{
        background-color: red;
        transform: rotate(-360deg);
    }
}
/* ----------------|Exo-2|------------------ */
.borderBalle1{
    width: 300px;
    height: 700px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}
.borderBalle2{
    width: 70px;
    height: 500px;
    margin: 50px auto;
    border: green solid;
}

.balle{
    position:relative;
    left: 6px;
    background-color:yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid white;
    animation: balle ease infinite;
    animation-duration: 2.5s;
    
}

@keyframes balle{
    0%{
        transform: translateY(0px);
    }
    30%{
        
        transform: translateY(445px);
    }
    50%{
        
        transform: translateY(100px);
    }
    70%{
        
        transform: translateY(445px);
    }
    90%{
        
        transform: translateY(200px);
    }
    100%{
        
        transform: translateY(445px);
    }
}

/* ----------------|Exo-3|------------------ */
.boxChargement{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}

.cercle {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1mm ridge;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    left: 140px;

    animation-name: changeCollor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.1s;
}

@keyframes changeCollor {
    from{
        background-color: yellow;
    }
    to{
        background-color: white;
    }
    to{
        background-color: red;
    }
}

.cercle:nth-child(2){
    animation-delay: 3s;
}
.cercle:nth-child(3){
    animation-delay: 5s;
}

/* ----------------|Exo-4|------------------ */
.boxChargement{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}

.transform1{
    width: 100px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    left: 230px;
    top: 10px;
    text-align: center;
    color: white;
    list-style: none;      
}

.transform2{ 
    height: 30px;
    background-color: orangered;
    border:  thick double;
    border-radius: 10px;
    transition: 1s;
}

.transform2:hover{ 
    height: 500px;
    border-radius: 10px;
    background-color:red;   
}
/* ----------------|Exo-5|------------------ */
.boxChargement{
    width: 600px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
}

.borderCarres{
    width: 1200px;
    height: 400px;
    border: 2px solid red;
    margin: auto;
}

.carres{
    height: 30px;
    width: 30px;
    background-color: red;
    border: thick double rgb(240, 180, 166);
    position: absolute;
    left: 1330px;
    top: 237px;
    /* opacity: 80%; */
    
    animation-name: carreColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes carreColor {
    0%{
        background-color: yellow;
        transform: rotate(-180deg);
        top: 237px;
        left: 1330px;
    }
    40%{
        background-color: palevioletred;
        top: 590px;
        left: 1330px;
    }
    60%{
        background-color: orange;
        top: 590px;
        left: 170px;
    } 
    80%{
        background-color: red;
        top: 237px;
        left: 170px;
    }
    100%{
        background-color: orangered;
        transform: rotate(360deg);
        top: 237px;
        left: 1330px;
    }
}

.carres:nth-child(2){
    animation-delay: 0.5s;
}
.carres:nth-child(3){
    animation-delay: 1s;
}
.carres:nth-child(4){
    animation-delay: 1.5s;
}
.carres:nth-child(5){
    animation-delay: 2s;
}
.carres:nth-child(6){
    animation-delay: 2.5s;
}

/* ----------------|Exo-6|------------------ */
.boxChargement1{
    width: 600px;
    height: 150px;
    margin: 50px auto;
    border: solid;
    padding: 20px;
    background-color: rgb(160, 189, 220);
   
}

.carrousel-container1{
    width: 800px;
    height: 500px;
    position: absolute;
    left: 350px;
    top: 237px;
    border: solid red;
}

.carrousel-container2{
    position: absolute;
    animation-name: circle;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    animation-timing-function: linear;
} 

.carrousel-item{
    width: 30px;
    height: 30px;
    border: thick double orangered;
    position: absolute; 
}

#block1{
    background-color: red;
    transform: rotateY(45deg) translateZ(80px) ;
}

#block2{
    background-color: orange;
    transform: rotateY(90deg) translateZ(80px) ;
}
#block3{
    background-color: orangered;
    transform: rotateY(135deg) translateZ(80px) ;
}

#block4{
    background-color: palevioletred;
    transform: rotateY(180deg) translateZ(80px) ;
}
#block5{
    background-color: rosybrown;
    transform: rotateY(225deg) translateZ(80px) ;
}

#block6{
    background-color: brown;
    transform: rotateY(270deg) translateZ(80px) ;
}

#block7{
    background-color: orchid;
    transform: rotateY(315deg) translateZ(80px) ;
}

#block8{
    background-color: burlywood;
    transform: rotateY(360deg) translateZ(80px) ;
}

@keyframes circle{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
        top: 5%;
        left: 10%;
    }
    25%{
        transform: rotateX(80deg) rotateY(80deg);
        top: 15%;
        left: 85%;
    }
    50%
    {
        transform: rotateX(160deg) rotateY(160deg);
        top: 90%;
        left: 90%;
    }
    75%{
        transform: rotateX(240deg) rotateY(240deg);
        top: 80%;
        left: 15%;
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
        top: 10%;   
        left: 10%;
    }
}
